doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Pura Gunung Lebah


    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h1 Museum Neka Ubud Bali
        img.big(src="images/museumneka2.jpg" height = 250 width = 600)

      section.emphatic-text(data-bespoke-backdrop='emphatic')        
        p Aktivitas wisata Ubud Bali, sangat terkenal sampai ke mancanegara dan banyak hal menarik yang wisatawan, dapat lakukan di tempat wisata Ubud. Salah satu tempat menarik di Ubud Bali, yang banyak mendapat kunjungan dari wisatawan adalah Museum Neka Ubud Bali. Jika anda pernah mendengar pelukis terkenal Indonesia, yang bernama Affandi dan Bagong Kussudiardjo. Maka Museum Neka Ubud, salah satu tempat tempat wisata di Ubud Bali yang harus di kunjungi.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h3 Neka Art Museum Di Ubud
        p Museum Neka Ubud Bali, lokasinya berada di Jalan Raya Campuhan, Kedewatan, Ubud. Jika anda ingin melihat lokasi museum Neka di peta, silakan klik link ini, peta lokasi museum Neka. 

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        p  Museum Neka Ubud Bali, dibuka pada tahun 1982. Nama Museum berasal dari nama seorang guru, yang memiliki kegemaran dalam mengkoleksi lukisan, nama guru tersebut adalah Suteja Neka.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        p Bangunan museum Neka Ubud Bali, memiliki arsitektur khas Bali dengan standar museum International. Selain bangunan museum Neka sangat terawat, cara menampilkan hasil seni lukis di museum Neka sangat terorganisir. Ini memudahkan pengunjung, untuk mengerti dan menikmati seni lukis. Setiap tahun, lukisan di museum Neka bertambah banyak dan saat ini ada lebih dari 300 lukisan, dari seniman mancanegara ataupun pelukis Indonesia. Mengasikan bukan untuk wisata di Bali anda?

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        img.big(src="images/Museumneka.jpg" height = 250 width = 600)

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h3 Jam Buka Museum Dan Biaya Tiket Masuk
        p Tiket masuk akan dikenakan sebesar Rp 50.000, untuk orang dewasa dan anak-anak di bawah 12 tahun gratis. Untuk jam buka dapat anda lihat di bawah ini.
        ulcircle
         li Senin-Sabtu 09:00 - 17.00
         li Minggu 13:00 - 17.00
         li Hari Libur National tutup

   script(src='build/build.js')

