doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Tari Kecak Ubud

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      Section
        h1 Tari Kecak Ubud
        img(src="images/Tari-Kecak-Ubud.jpg")

      section
        h2 
        p 

      section
        h2 
        p 

      section        
        p 

      Section
        P 


      section
        h2 
        p 

      Section
        P 

      Section
         p 

      Section
        p 


      Section
        h2 
        p 

      Section
        p 


      Section
        p 








    script(src='build/build.js')



