doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Tari Kecak Ubud

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      Section
        h1 Lempad House
        img(src="images/lempad-house.jpg" width = 500)

      section
        p  Saat wisatawan berencana liburan di Bali, ada 2 tempat wisata yang menjadi prioritas dari sebagian besar wisatawan untuk di kunjungi. Kedua objek wisata tersebut adalah tempat wisata Kuta dan tempat wisata Ubud. Kedua tempat wisata favorit wisatawan ini, menawarkan dua hal yang berbeda. Kalau Kuta lebih dominan akan wisata pantai dan kehidupan malam, sedangkan objek wisata di Ubud menawarkan wisata alam, wisata seni dan budaya.

      section        
        p Di halaman ini kami akan menuliskan untuk anda, tentang salah satu objek wisata di Ubud, yang di kenal dengan nama Lempad House. Tentunya tempat wisata Lempad House akan sangat cocok di kunjungi, jika anda menyukai seni pahat dan seni lukis khas Bali. Sebelum kami menuliskan akan Lempad House, kami akan menuliskan sedikit informasi dari pemiliknya, yang mendapat sorotan luar biasa dari dunia international, akan hasil karya seninya dan kisah hidupnya.

      Section
        H2 I Gusti Nyoman Lempad        

      Section
        P Pemilik dari Lempad House Ubud adalah seorang arsitek, seniman pahat dan seniman lukis yang di perkirakan umurnya 116 tahun. Seniman ini bernama I Gusti Nyoman Lempad. Kepastian kapan I Gusti Nyoman Lempad lahir, tidak ada yang tahu, tapi diperkirakan sekitar tahun 1862 dan beliau meninggal dunia pada tahun 1978. I Gusti Nyoman Lempad meninggal dengan cara yang tidak biasa, karena mampu memilih waktu kematiannya secara sadar. Mungkin ini terdengar seperti di buat-buat tetapi hal ini adalah kisah nyata yang di liput oleh media International.

      Section
         p Satu bulan sebelum hari kematiannya, I Gusti Nyoman Lempad memanggil seluruh keluarganya dan meminta untuk memandikan dan mendandani, selain itu mengatakan kepada sanak keluarganya akan warisan mereka. Hari kematian yang dipilih oleh I Gusti Nyoman Lempad adalah hari suci bagi umat Hindu Bali. Liputan sesaat sebelum kematiannya dan saat upacara kematianya di liput oleh Lawrence Blair untuk acara televisi Ring of Fire: An Indonesian Odyssey, dan liputan tersebut dapat anda lihat di Youtube dengan mengklik link dibawah ini.
         P <a href = “https://www.youtube.com/watch?v=S4AHmf-3-fA”>>>Visiting a 116 year old man<<</a>

    script(src='build/build.js')





