doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Sawah Terasering Ubud

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h1 Ubud Monkey Forest
        p Ubud sangat terkenal sampai kemancanegara akan seni, alam dan budaya. Saat anda mendengar salah satu nama objek wisata di Bali, yaitu Ubud monkey forest. Walaupun anda belum pernah berlibur ke objek wisata ini, anda pasti tahu dari namanya, bahwa anda akan dapat melihat kera di salah satu objek wisata Ubud ini
      
      section.emphatic-text(data-bespoke-backdrop='emphatic')        
        h2 Lokasi Objek Wisata Ubud Monkey Forest  
        p Tentunya banyak hal yang dapat anda lakukan di Ubud. Seperti melihat sawah terasering di Tegalalang Ubud, wisata rafting di Ubud, menonton tari kecak Ubud dan liburan ke museum kesenian yang sangat banyak terdapat di Ubud. Ubud monkey forest salah satu objek wisata di Ubud yang wajib dikunjungi, jika anda sedang berlibur di Bali. Merupakan kawasan hutan lindung dan di dalam hutan ini, terdapat pura sakral umat Hindu Bali. Nama asli objek wisata Ubud monkey forest adalah Mandala Wisata Wenara Wana, tapi lebih dikenal dengan nama Sacred Monkey Forest Sanctuary.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        img.big(src="images/ubudMKF.jpg")

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        P Objek wisata monkey forest Ubud Bali, berada di Jalan Monkey Forest, Ubud provinsi Bali dengan kode pos 80571. Jika anda berangkat dari international airport menuju lokasi dari Ubud monkey forest, di perlukan waktu kurang lebih satu jam.
        p Klik Disini Untuk Melihat, <a href = "http://goo.gl/maps/829iu">Peta Lokasi Monkey Forest Ubud.</a>
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Biaya Tiket Masuk Objek Wisata Ubud Monkey Forest 
        p Jika anda ingin memasuki objek wisata monkey forest Ubud, anda akan dikenakan biaya tiket masuk sebesar Rp 20.000 per orang. Harga tiket masuk Ubud Monkey Forest Rp 20.000 per orang, khusus untuk wisatawan domestik. Untuk parkir mobil akan dikenakan biaya Rp 5.000 per mobil.
        p Lihat disini, <a href = "http://www.rentalmobilbali.net/harga-tiket-masuk-wisata-di-bali/">Daftar Harga Tiket Masuk Objek Wisata Di Bali</a>
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        img.big(src="images/ubudMKF2.jpg")


   script(src='build/build.js')






