doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Tari Kecak Ubud

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      Section
        h1 Tari Kecak Ubud
        img(src="images/Tari-Kecak-Ubud.jpg")

      section
        h3 Gambaran Tari Kecak Api Ubud
        img(src="images/Tari-Kecak-Ubud-1.jpg")

      section
        p Untuk mencari lokasi dari tiap-tiap pementasan dari tarian kecak di Ubud, tentunya bagi anda yang tidak terlalu faham akan jalan-jalan di Ubud, maka akan kesulitan. Selain itu, jika anda memutuskan membawa kendaraan sendiri, untuk mencari tempat parkir di kawasan objek wisata Ubud, akan sangat susah. Ini dikarenakan sangat jarang tersedia lahan parkir dan sebagian besar, orang parkir dipinggir jalan dan lebih cendrung penuh dan susah untuk mencari.
      section        
        p Oleh sebab itu, jika anda berencana wisata ke Ubud dan memutuskan untuk menonton tari kecak api di Ubud, sebaiknya menggunakan jasa sewa mobil dengan driver di Bali. Dengan cara sewa mobil di Bali dengan supir, anda tidak perlu susah untuk mencari lokasi pementasan dan tempat parkir mobil

      Section
        P Selain di Ubud, tempat pementasan tarian kecak yang paling populer adalah di pura Uluwatu. Kenapa tarian kecak di Pura Uluwatu diminati oleh wisatawan? Hal ini dikarenakan pada saat menonton tari kecak di Uluwatu, wisatawan dapat menikmati matahari terbenam, sebagai latar belakang.


      section
        h3 Gambaran Tari Kecak Api Ubud di Pura Uluwatu
        img(src="images/tari-kecak-di-pura-uluwatu.jpg")

      Section
        P 

      Section
         p 

      Section
        p 


      Section
        h2 
        p 

      Section
        p 


      Section
        p 








    script(src='build/build.js')




