doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Pura Gunung Lebah


    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article
<<<<<<< HEAD

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Tari Barong Ubud
        img.big(src="images/TariBarongUbud.jpg" height = 250 width = 600)

      section.emphatic-text(data-bespoke-backdrop='emphatic')        
        p Salah satu objek wisata di Bali yang patut anda kunjungi selama liburan di pulau dewata adalah desa Ubud. Ada beberapa alasan kenapa kami merekomendasi anda untuk berwisata ke Ubud. Hal ini di karenakan, tempat wisata di Ubud memiliki berbagai macam pilihan tempat wisata, baik untuk wisata alam, wisata budaya dan wisata seni, khususnya seni lukis dan seni tari seperti tari Barong Ubud.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        p Ubud sangat terkenal akan wisata alam seperti aktivitas rafting di sungai Ayung Ubud, wisata ke museum seni lukis atau menonton pertunjukan seni tari, yang hampir setiap hari diadakan di berbagai tempat di objek wisata Ubud.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        p Saking terkenalnya objek wisata Ubud, baik di kalangan wisatawan domestik dan wisatawan mancanegara, membuat Ubud tidak pernah sepi dari kunjungan wisatawan setiap harinya. Hal ini membuat objek wisata Ubud memiliki begitu banyak sarana pariwisata, terutama tempat menginap, baik dari hotel maupun villa.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        p Para pengusaha travel agent di Bali, juga berlomba menawarkan berbagai macam paket wisata, yang menfokuskan akan paket liburan di Ubud Bali. Kami juga tidak ketinggalan dalam menawarkan paket liburan ke Ubud. Tentunya setiap wisatawan yang berlibur di Bali tidak semua memilih untuk membeli paket wisata ke Ubud, ada banyak wisatawan yang juga memilih untuk wisata di Ubud tanpa membeli paket wisata.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        p Sebagian dari mereka dalam berwisata di Ubud tentunya akan memerlukan sarana tranfortasi, dan wisatawan sebagian besar akan mengunakan jasa sewa mobil dan driver di Bali. Dengan alasan murah dan tidak perlu memikirkan tempat parkir dan jalanan macet.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h3 Pertunjukan Kesenian Tari Barong Ubud
        p Saat anda wisata di Bali, tentunya anda tidak hanya ingin diam di hotel atau menghabiskan waktu ke shoping mall, tanpa melihat sesuatu yang unik dan hanya ada di Bali, seperti pertujukan kesenian khas tradisional budaya Bali. Salah satu pertunjukan seni yang paling di cari di Ubud adalah pertunjukan tari Barong Ubud dan tari kecak Ubud.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        p Tarian Barong sebuah kesenian tari tradisional di Bali, yang sebagian penarinya menggunakan topeng dan kostum yang menyerupai hewan. Jenis tari Barong yang paling banyak di minati adalah tari Barong Ket. Lalu apa itu Barong Ket?
        p Jika di lihat dari bentuknya, Barong Ket merupakan perpaduan bentuk binatang antara harimau, singa, ular naga dan sapi. Seluruh badan dari Barong Ket, dihiasi dengan ukiran tradisional Bali yang berbahan dasar kulit sapi dan dalam ukiran tersebut terdapat puluhan cermin kaca yang berukuran kecil.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        p Jadi pada saat ada cahaya yang mengenai cermin kaca, membuat wujud dari Barong kelihatan berkilauan. Untuk membuat tampak seperti bintang, maka di Barong Ket anda akan melihat banyak Bulu. Bulu ini terbuat dari serat daun tanaman yang dikeringkan dan biasanya mengunakan daun pandan dan ijuk
        p Untuk menarikan Barong Ket diperlukan dua orang penari, kedua penari ini memiliki nama Juru Bapang atau sering juga disebut dengan nama Juru Saluk. Penari di bagian kepala Barong di namai Juru Bapang satu dan penari yang di bagian ekor dinamai Juru Bapang dua. Tentunya pada saat pementasan tarian Barong Ket, juga disertai pementasan tarian Rangda.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        p Rangda adalah sebuah sosok yang kelihatan sangat seram, karena di gunakan untuk mewakili simbul keburukan. Sedangakan Barong Ket adalah sibul kebajikan. Oleh karena itu, setiap pementasan tarian Barong Ket, pastinya akan ada pementasan Rangda. Hal ini meyimbulkan perbedaan abadi antara kebajikan dan keburukan.
        p Untuk mengiringi tari Barong di Ubud digunakan musik traditional Bali yang disebut dengan nama Gambelan. Jenis Gambelan yang digunakan adalah Gamelan Semar Pegulingan. Bagi yang pertama kali mendengar musik Gambelan Semar pegulingan, pastinya akan terdengar aneh di telinga, tapi setelah anda melihat penari yang bergerak mengikuti irama musik Gambelan, anda pastinya akan terbiasa.

=======
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        p

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Tempat Wisata Pura Dengan Relief Kuno
        img.big(src="images/yeh-pulu-bedulu.jpg" height = 300 width = 600)

      section.emphatic-text(data-bespoke-backdrop='emphatic')        
        p Di objek wisata ini, anda akan dapat melihat banyak relief kuno yang sangat unik. Karena terdapat banyak relief di tempat wisata pura ini, maka tempat wisata ini sering disebut dengan nama relief Yeh Pulu. Relief bersejarah yang terdapat di sini, di pahat pada batu cadas, dan panjang relief sekitar 25 meter dengan lebar relief 2 meter.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Sejarah Pura & Arti Nama Yeh Pulu Bedulu

        p Sejarah relief yang terdapat di lokasi wisata ini, menceritakan tentang sejarah kehidupan masyarakat Bali kuno, pada masa kerajaan Bedahulu. Tidak hanya relief didinding, lubang menjorok kedalam untuk tempat bertapa, juga ada di objek wisata ini. Konon tempat ini digunakan untuk bertapa raja Bedahulu, sebelum beliau kalah berperang melawan kerajaan Majapahit pada tahun 1343.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        p  Yeh artinya air dan Pulu artinya gentong yang dulunya digunakan sebagai tempat beras. Gentong ini ditempatkan di bagian barat dari Yeh Pulu relief dan berada tengah tempat air suci. Jika anda menyukai wisata pura di Bali, untuk informasi, salah satu pura di Bali yang paling disukai wisatawan untuk di kunjungi adalah pura Ulun Danu Beratan. Jika anda sempat melihat di brosur atau majalah wisata yang memperlihatkan pura berada di tengah danau, inilah pura Ulun Danu Beratan.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Aktivitas Wisata Alam Ubud

        p Selain wisata ke pura ini, tempat wisata di Ubud Bali, juga menyediakan aktivitas wisata alam yang bersifat petualangan. Wisata petualangan alam di Ubud yang paling disukai wisatawan domestik adalah Bali rafting. Salah satu tempat rafting di Bali yang bersifat rekreasi adalah sungai Ayung Ubud.

        p Sungai Ayung Ubud, setiap hari ramai dengan kunjungan wisatawan yang ingin melakukan aktivitas rafting. Salah satu perusahaan yang terkenal dan peritis rafting di Ubud bernama Sobek rafting. Wisatawan domestik saat ini telah menjadikan wisata rafting sebagai salah satu aktivitas wisata di Bali.
>>>>>>> 406e1d22e0b3f28fc2ec1a5a83f290b4459e8a99

   script(src='build/build.js')


