doctype html
html
  include header

  body.classic
    include menu
    article
      Section
        h1 Tari Kecak Ubud
        img(src="images/Tari-Kecak-Ubud.jpg" height = 300 width = 600)

      Section
        P Objek wisata Ubud sangat terkenal akan wisata air atau yang dikenal dengan nama Ayung Rafting Ubuddan wisata kesenian dan salah satunya adalah seni tari Kecak Bali. Banyak wisatawan yang wisata ke Ubud Bali, tidak merasa lengkap apabila tidak menononton pertujukan tari kecak Ubud. Tentunya tidak akan susah buat wisatawan untuk mendapatkan kesempatan menonton tari yang terkadang disebut dengan nama tari kecak api Ubud.

      section
         h3 Jadwal & Harga Tiket Tari Kecak Ubud
         p Jika anda ingin nonton tari kecak api di Ubud, pementasan tarian kecak hanya dilakukan pada saat malam hari. Pertunjukan tari kecak Ubud, biasanya dimulai pada jam 19:00. Di Ubud ada dua tempat terkenal untuk menonton tari kecak. Tempat pertujukan tari kecak Ubud dipentaskan antara lain di Pura Dalem Ubud dan Padang Tegal Kaja Ubud. Mohon dicatat, tidak setiap hari dipentaskan tarian kecak di Pura Dalem Ubud dan Padang Tegal Kaja Ubud. Mohon lihat jadwal di bawah, untuk kepastian tempat pementasan, harga tiket dan jam pementasan tarian kecak di Ubud.
      

      Section
         h3 Hari Minggu
         table.zebra-table
           tr(align='left')
             td Lokasi Pentas
             td Jam
             td Oleh 
             td Harga Tiket
           tr(align='left') 
             td Padang Tegal Kaja
             td 19:00
             td Trene Jenggala
             td Rp. 75.000,-
           
           tr(align='left')
             td Pura Batukaru
             td 19:30
             td Desa Adat Sambahan 
             td Rp. 75.000,-

      Section
         h3 Hari Senin
         table.zebra-table
           tr(align='left')
             td Lokasi Pentas
             td Jam
             td Oleh 
             td Harga Tiket
           tr(align='left') 
             td Desa Junjungan
             td 18:30
             td Desa Adat Junjungan
             td Rp. 75.000,-
           tr(align='left')
             td Pura Dalem Ubud
             td 19:30
             td Adat Ubud Kaja
             td Rp. 80.000,-

      Section
         h3 Hari Selasa
         table.zebra-table
           tr(align='left')
             td Lokasi Pentas
             td Jam
             td Oleh 
             td Harga Tiket
           tr(align='left') 
             td Jaba Pura Taman Sari
             td 19:00
             td Sandhi Suara
             td Rp. 75.000,-

      Section
         h3 Hari Rabu
         table.zebra-table
           tr(align='left')
             td Lokasi Pentas
             td Jam
             td Oleh 
             td Harga Tiket
           tr(align='left') 
             td Padang Tegal Kaja
             td 19:00
             td Trene Jenggala
             td Rp. 75.000,-
           tr(align='left') 
             td Pura Dalem Taman Kaja
             td 19:30
             td Desa Adat Taman Kaja
             td Rp. 75.000,-
           tr(align='left') 
             td Pura Batu Karu
             td 19:30
             td Desa Adat Ubud Tengah (Penari Wanita)
             td Rp. 80.000,-

      Section
         h3 Hari Kamis
         table.zebra-table
           tr(align='left')
             td Lokasi Pentas
             td Jam
             td Oleh 
             td Harga Tiket
           tr(align='left') 
             td Puri Agung Peliatan
             td 18:45
             td Semara Madya
             td Rp. 75.000,- / Orang
           tr(align='left') 
             td Puri Jaba Pura Taman Sari
             td 19:30
             td Sandhi Suara
             td Rp. 75.000,- / Orang
           tr(align='left') 
             td Pura Batu Karu
             td 19:30
             td Desa Adat Sambahan
             td Rp. 75.000,- / Orang

      Section
         h3 Hari Jumat
         table.zebra-table
           tr(align='left')
             td Lokasi Pentas
             td Jam
             td Oleh 
             td Harga Tiket
           tr(align='left') 
             td Pura Padang Kertha
             td 19:00
             td Padang Subadra
             td Rp. 75.000,-
           tr(align='left') 
             td Pura Dalem Ubud
             td 19:30
             td Desa Adat Ubud Kaja
             td Rp. 80.000,-

      Section
         h3 Hari Sabtu
         table.zebra-table
           tr(align='left')
             td Lokasi Pentas
             td Jam
             td Oleh 
             td Harga Tiket
           tr(align='left') 
             td Padang Tegal Kaja
             td 19:00
             td Trene Jenggala
             td Rp. 75.000,-
           tr(align='left') 
             td Pura Dalem Taman Kaja
             td 19:30
             td Desa Adat Taman Kaja
             td Rp. 75.000,-

      Section
        p Selain jadwal rutin dari tari kecak Ubud diatas, ada jadwal tari kecak lain yang hanya diadakan pada saat bulan purnama. Tempat pementasan pada saat bulan purnama adanya di Museum Arma Ubud, jadwal pentas pada jam 18:45, dengan harga tiket Rp. 100.000.
        h3 Mohon dicatat, harga tiket dapat berubah sewaktu-waktu.

      section
        h3 Gambaran Tari Kecak Api Ubud di Pura Uluwatu
        img(src="images/tari-kecak-di-pura-uluwatu.jpg" height = 300 width = 600)

      Section
        p Untuk mencari lokasi dari tiap-tiap pementasan dari tarian kecak di Ubud, tentunya bagi anda yang tidak terlalu faham akan jalan-jalan di Ubud, maka akan kesulitan. Selain itu, jika anda memutuskan membawa kendaraan sendiri, untuk mencari tempat parkir di kawasan objek wisata Ubud, akan sangat susah. Ini dikarenakan sangat jarang tersedia lahan parkir dan sebagian besar, orang parkir dipinggir jalan dan lebih cendrung penuh dan susah untuk mencari.

      Section
        p Oleh sebab itu, jika anda berencana wisata ke Ubud dan memutuskan untuk menonton tari kecak api di Ubud, sebaiknya menggunakan jasa sewa mobil + driver di Bali. Dengan cara sewa mobil di Bali dengan supir, anda tidak perlu susah untuk mencari lokasi pementasan dan tempat parkir mobil.

      Section
        p Selain di Ubud, tempat pementasan tarian kecak yang paling populer adalah di pura Uluwatu. Kenapa tarian kecak di Pura Uluwatu diminati oleh wisatawan? Hal ini dikarenakan pada saat menonton tari kecak di Uluwatu, wisatawan dapat menikmati matahari terbenam, sebagai latar belakang.

   include footer





